body {
	background-color: #f9f9f9;
}

.invisible {
	display: none;
}

.ui.menu:first-child {
	margin-top: 1%;
}

.delete.icon:hover {
	color: red;
	transform: scale(1.2);
}

#laptop {
	color: grey;
}

#server {
	color: grey;
}

#invite-code {
	resize: none;
	text-align: center;
}

#error-message {
	margin-top: 4%;
}

#auth-form {
	margin: 5% 0% 0%;
	max-width: 30%;
	min-width: 30%;
}
