.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f9f9f9;
	height: 100%;
	padding-top: 5%;
}

.status-container {
	display: flex;
	align-items: center;
}

.invisible {
	display: none;
}

#laptop {
	color: grey;
}

#server {
	color: grey;
}

#invite-code {
	resize: none;
	text-align: center;
}

#error-message {
	margin-top: 4%;
}
