package component

templ InviteCodeRequester() {
	<div class="segment">
		<button
 			id="invite-code-button"
 			class="ui blue button"
 			hx-post="/create-invite-code"
 			hx-target="#invite-code"
 			hx-swap="innerHTML"
 			hx-on::before-request="buttonBefore(this)"
 			hx-on::after-request="buttonAfter(this)"
		>Invite Code</button>
	</div>
	<div class="segment">
		<textarea
 			id="invite-code"
 			rows="1"
 			cols="48"
 			onClick="this.select()"
 			readonly
		></textarea>
	</div>
}
