package layout

import "github.com/davidmacdonald11/mcsm/view/component"

templ Login(username, err string) {
	@Base() {
		@component.AuthForm(err, component.AuthFormConfig{
			Header: "Login",
			Route: "/auth/login",
			Username: username,
			ShowPassword: true,
			ShowInviteCode: false,
			AutoFocus: "password",
			SubmitText: "Login",
		})
	}
}
