package layout

import "github.com/davidmacdonald11/mcsm/view/component"

templ Signup(username, err string) {
	@Base() {
		@component.AuthForm(err, component.AuthFormConfig{
			Header: "Signup",
			Route: "/auth/signup",
			Username: username,
			ShowPassword: true,
			ShowInviteCode: true,
			AutoFocus: "password",
			SubmitText: "Signup",
		})
	}
}
