package layout

import "github.com/davidmacdonald11/mcsm/view/component"

templ Status() {
	@Home(0) {
		<h2>Server Status</h2>
		<div class="status-container">
			<button class="green ui button">Launch!</button>
			<i id="laptop" class="large laptop icon"></i>
			<i id="server" class="large gamepad icon"></i>
		</div>
		@component.InviteCodeRequester()
		<hr/>
	}
}
