package layout

templ Status() {
	@Root(0) {
		<h2>Server Status</h2>
		<div class="status-container">
			<button class="green ui button">Launch!</button>
			<i id="laptop" class="large laptop icon"></i>
			<i id="server" class="large gamepad icon"></i>
		</div>
		<hr/>
	}
}
